/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --bg-color-primary:#47b9e8;
    --text-color-primary:rgb(255, 254, 252);
    --text-color-secondary:rgb(255, 254, 252);
}

/* reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #c8c8c8;
}

.container{
    font-family: Montserrat,sans-serif ;
    background-color: #1c1c1f;
    color: var(--text-color-primary);
    padding: 5rem 10rem 5rem 10rem;
    margin:0 14rem 0 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

.container > div{
    margin-top: 4rem;
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: var(--bg-color-primary);
    border-radius: .6rem;
    margin: 0 2rem 0 2rem ;
    width: 110px;
    height: 55px;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: var(--text-color-primary);
}
