<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker views</title>
    {% load static %}
    <script src="{% static 'js/redirect.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">  
</head>
<body>
    {% if user.is_authenticated %}
    <div class="tracker-view-container">
        <h2>Please create a <a href="/createtracker/{{id}}">tracker</a> if you have not done so.</h2>
            {% block content %}
                {% for tracker in user.financialtracker.all %}
                <ul>
                    <h2 class="tracker-name"><a href="/userhome/{{tracker.id}}">{{tracker.tracker_name}}</a></h2>
                </ul>
                {% endfor %}
            {% endblock %}
    </div>
    {% else %}
        <script>
            redirect('/login');
        </script>
    {% endif %}
</body>
</html>